@tailwind base;
@tailwind components;
@tailwind utilities;

// @import './global';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__container {
  @apply min-h-screen overflow-hidden;
}

.wrapper {
  @apply min-w-[250px] max-w-[2000px];
}

.custom__container {
  @apply w-[80%] m-auto overflow-hidden;
}
