@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mulish:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './global';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-black;
}

.app__container {
  @apply min-h-screen font-mulish text-sm text-black font-normal;
}

.wrapper {
  @apply min-w-[250px] max-w-[2000px];
}

.custom__container {
  @apply w-[80%] m-auto;
}
